{:min-bb-version "0.3.7"
 :tasks {:requires ([babashka.pods :as pods])
         -fswatcher (do (pods/load-pod 'org.babashka/fswatcher "0.0.1")
                             (require '[pod.babashka.fswatcher :as fw]))
         watch {:depends [-fswatcher]
                :task
                (do  (fw/watch "generate.clj" (fn [_]
                                                (load-file "generate.clj")))
                     ;; don't exit task
                     (deref (promise)))}}}
